header{
	 color: #6495ED;
	 background: #E6E6FA;
	 border: thin solid; 
 	 padding: 10px;
	 text-align: center;
	 height: 130px;
	 width:  300px;
	 margin: 0 auto;
}

h1{
	 font-family: Didot, serif  ;
	 font-style: oblique;
	 color: #4169E1;
	 font-size: 25px;

}

p{
	font-family: Arial Narrow, sans-serif  ;
	color:  #6495ED;
  	font-size: 15px;
	text-align: center;

}

*{
	background: #E6E6FA;
	font-family: Courier, monospace  ;
	
}

.entrada_nome{
	margin: 0 auto;
    width: 200px;
}

.entrada_tempo{
	margin: 0 auto;
    width: 200px;

}

.nome{
	background-color: white;
}

.tempo{
	background-color: white;
}

input, textarea {
    font: 1em sans-serif;
    width: 200px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
}

.botao_add{
	font-family: Impact, fantasy    ;
	background-color: #4169E1;
	font-size: 16px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: white;
	border: 1px solid gray;
	border-radius: 5px;
}

.entrada_botao {
	text-align: center;
	margin: 0 auto; 
}


table,
th,
td {
margin: 0 auto; 
background-color: white;
  border: 1px solid black;
  border-collapse: collapse;
    width: 600px;
    text-align:center;
   
	font-family: Afont-family: Courier, monospace;

}
th{
	font-size: 16px;
	 background-color: #BEBEBE;
	
}

.botao_resul{

font-family: Impact, fantasy    ;
	background-color: #4169E1;
	font-size: 16px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: white;
	border: 1px solid gray;
	border-radius: 5px;

}

.saida_botao {
	text-align: center;
	margin: 0 auto; 
}


#tabela_resul {
  visibility: hidden;
}